
@font-face {
  font-family: 'BusinessSuiteInAppSymbols';
  src: url('fonts/BusinessSuiteInAppSymbols.ttf'),
      url('fonts/BusinessSuiteInAppSymbols.eot'); /* IE9+ */
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'BusinessSuiteInAppSymbols';
  content: attr(data-icon);
  speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'BusinessSuiteInAppSymbols';
  font-style: normal;
  speak: none;
}

.icon-heart:before {
  content: "\e000"
}

.icon-quarter:before {
  content: "\e001"
}

.icon-year:before {
  content: "\e002"
}

.icon-equalizer:before {
  content: "\e003"
}

.icon-component:before {
  content: "\e004"
}

.icon-component-private:before {
  content: "\e005"
}

.icon-raw-material:before {
  content: "\e006"
}

.icon-sms:before {
  content: "\e007"
}

.icon-add-note:before {
  content: "\e008"
}

.icon-change-time-horizon:before {
  content: "\e009"
}

.icon-table-chart-customization:before {
  content: "\e00a"
}

.icon-delegated-important-task:before {
  content: "\e00b"
}

.icon-forklift:before {
  content: "\e00c"
}

.icon-coins:before {
  content: "\e00d"
}

.icon-filter-menu:before {
  content: "\e00e"
}

.icon-target-to-date:before {
  content: "\e00f"
}

.icon-program:before {
  content: "\e010"
}

.icon-phase:before {
  content: "\e011"
}

.icon-checklist:before {
  content: "\e012"
}

.icon-mirrored-task:before {
  content: "\e013"
}

.icon-sub-project:before {
  content: "\e014"
}

.icon-checklist-item:before {
  content: "\e015"
}

.icon-adhoc-analysis:before {
  content: "\e016"
}

.icon-change-analysis:before {
  content: "\e017"
}

.icon-review-demands:before {
  content: "\e018"
}

.icon-project-definition:before {
  content: "\e019"
}

.icon-data-access:before {
  content: "\e01a"
}

.icon-define-shortage:before {
  content: "\e01b"
}

.icon-review-supplies:before {
  content: "\e01c"
}

.icon-change-log:before {
  content: "\e01d"
}

.icon-priority-1:before {
  content: "\e01e"
}

.icon-priority-2:before {
  content: "\e01f"
}

.icon-jam:before {
  content: "\e020"
}

.icon-milestone:before {
  content: "\e021"
}

.icon-bulleting-with-numbers:before {
  content: "\e022"
}

.icon-decrease-indent:before {
  content: "\e023"
}

.icon-increase-indent:before {
  content: "\e024"
}

.icon-bold:before {
  content: "\e025"
}

.icon-italic:before {
  content: "\e026"
}

.icon-strike-through:before {
  content: "\e027"
}

.icon-underline:before {
  content: "\e028"
}

.icon-save-as:before {
  content: "\e029"
}

.icon-segmentation:before {
  content: "\e02a"
}

.icon-context-menu:before {
  content: "\e02b"
}

.icon-snapshot:before {
  content: "\e02c"
}

.icon-subtraction-b-a:before {
  content: "\e02d"
}

.icon-subtraction-a-b:before {
  content: "\e02e"
}

.icon-intersection:before {
  content: "\e02f"
}

.icon-union:before {
  content: "\e030"
}

.icon-top:before {
  content: "\e031"
}

.icon-bottom:before {
  content: "\e032"
}

.icon-page-up:before {
  content: "\e033"
}

.icon-page-down:before {
  content: "\e034"
}

.icon-create-dashboard:before {
  content: "\e035"
}

.icon-excelsius-file:before {
  content: "\e036"
}

.icon-open-folder:before {
  content: "\e037"
}

.icon-neutral:before {
  content: "\e038"
}

.icon-split-segmentation:before {
  content: "\e039"
}

.icon-manage-budget:before {
  content: "\e03a"
}

.icon-blocked:before {
  content: "\e03b"
}

.icon-pipette:before {
  content: "\e03c"
}

.icon-top-recipe:before {
  content: "\e03d"
}

.icon-recipe:before {
  content: "\e03e"
}

.icon-ingredients:before {
  content: "\e03f"
}

.icon-multiple-charts:before {
  content: "\e040"
}

.icon-descending-bars:before {
  content: "\e041"
}

.icon-descending-stacked-bars:before {
  content: "\e042"
}

.icon-scatter-plot:before {
  content: "\e043"
}

.icon-spill:before {
  content: "\e044"
}

.icon-fire:before {
  content: "\e045"
}

.icon-stratification:before {
  content: "\e046"
}

.icon-relationship:before {
  content: "\e047"
}

.icon-margin-decomposition:before {
  content: "\e048"
}

.icon-control-group:before {
  content: "\e049"
}

.icon-comparison-chart:before {
  content: "\e04a"
}

.icon-responsible-area:before {
  content: "\e04b"
}

.icon-increase:before {
  content: "\e04c"
}

.icon-decrease:before {
  content: "\e04d"
}

.icon-current-stock:before {
  content: "\e04e"
}

.icon-expedite:before {
  content: "\e04f"
}

.icon-postpone:before {
  content: "\e050"
}

.icon-approved:before {
  content: "\e051"
}

.icon-partially-delivered:before {
  content: "\e052"
}

.icon-line-bar-chart:before {
  content: "\e053"
}

.icon-expand-all:before {
  content: "\e054"
}

.icon-submission:before {
  content: "\e055"
}

.icon-change-request:before {
  content: "\e056"
}

.icon-column-unselected:before {
  content: "\e057"
}

.icon-column-selected:before {
  content: "\e058"
}

.icon-row-unselected:before {
  content: "\e059"
}

.icon-row-selected:before {
  content: "\e05a"
}

.icon-stock-requirements:before {
  content: "\e05b"
}

.icon-gender-male-and-female:before {
  content: "\e05c"
}

.icon-icon-marital-status:before {
  content: "\e05d"
}

.icon-birthday:before {
  content: "\e05e"
}

.icon-classification:before {
  content: "\e05f"
}

.icon-marked-for-deletion:before {
  content: "\e060"
}

.icon-bullet-chart:before {
  content: "\e061"
}

.icon-remove-filter:before {
  content: "\e062"
}

.icon-bank-account:before {
  content: "\e063"
}

.icon-savings-account:before {
  content: "\e064"
}

.icon-debit-card:before {
  content: "\e065"
}

.icon-vip-customer:before {
  content: "\e066"
}

.icon-undesirable-customer:before {
  content: "\e067"
}

.icon-answered-change-request:before {
  content: "\e068"
}

.icon-collected-change-request:before {
  content: "\e069"
}

.icon-draw-freehand:before {
  content: "\e06a"
}

.icon-draw-circle:before {
  content: "\e06b"
}

.icon-completed:before {
  content: "\e06c"
}

.icon-answered:before {
  content: "\e06d"
}

.icon-traffic-cone:before {
  content: "\e06e"
}

.icon-traffic-lights:before {
  content: "\e06f"
}

.icon-container:before {
  content: "\e070"
}

.icon-container-loading:before {
  content: "\e071"
}

.icon-traffic-jam:before {
  content: "\e072"
}

.icon-products:before {
  content: "\e073"
}

.icon-sidepanel:before {
  content: "\e074"
}

.icon-split-screen:before {
  content: "\e075"
}

.icon-truck-driver-2:before {
  content: "\e076"
}

.icon-keep-segment:before {
  content: "\e077"
}

.icon-exclude-segment:before {
  content: "\e078"
}

.icon-separate-segments:before {
  content: "\e079"
}

.icon-distribute-segments:before {
  content: "\e07a"
}

.icon-next-open-item:before {
  content: "\e07b"
}

.icon-where-used:before {
  content: "\e07c"
}

.icon-outbound-delivery:before {
  content: "\e07d"
}

.icon-outbound-delivery-inactive:before {
  content: "\e07e"
}

.icon-outbound-delivery-active:before {
  content: "\e07f"
}

.icon-target:before {
  content: "\e080"
}

.icon-source:before {
  content: "\e081"
}

.icon-material:before {
  content: "\e082"
}

.icon-due-date:before {
  content: "\e083"
}

.icon-overdue:before {
  content: "\e084"
}

.icon-set-as-default:before {
  content: "\e085"
}

.icon-face-very-bad:before {
  content: "\e086"
}

.icon-face-bad:before {
  content: "\e087"
}

.icon-face-skeptical:before {
  content: "\e088"
}

.icon-face-neutral:before {
  content: "\e089"
}

.icon-face-astonished:before {
  content: "\e08a"
}

.icon-face-happy:before {
  content: "\e08b"
}

.icon-face-very-happy:before {
  content: "\e08c"
}

.icon-face-awful:before {
  content: "\e08d"
}

.icon-face-devastated:before {
  content: "\e08e"
}

.icon-face-okey-dokey:before {
  content: "\e08f"
}

.icon-alarm:before {
  content: "\e090"
}

.icon-activate:before {
  content: "\e091"
}

.icon-segment-preview-reference-objects:before {
  content: "\e092"
}

.icon-radius:before {
  content: "\e093"
}

.icon-polygon-black:before {
  content: "\e094"
}

.icon-polygon-white:before {
  content: "\e095"
}

.icon-polygon:before {
  content: "\e096"
}

.icon-no-filter:before {
  content: "\e097"
}

.icon-grip:before {
  content: "\e098"
}

.icon-add-component:before {
  content: "\e099"
}

.icon-water:before {
  content: "\e09a"
}

.icon-gas:before {
  content: "\e09b"
}

.icon-liquid:before {
  content: "\e09c"
}

.icon-gas-2:before {
  content: "\e09d"
}

.icon-water-2:before {
  content: "\e09e"
}

.icon-operator:before {
  content: "\e09f"
}

.icon-target-filter:before {
  content: "\e0a0"
}

.icon-equipment:before {
  content: "\e0a1"
}

.icon-gis-layer:before {
  content: "\e0a2"
}

.icon-section:before {
  content: "\e0a3"
}

.icon-kohorte:before {
  content: "\e0a4"
}

.icon-female:before {
  content: "\e0a5"
}

.icon-male:before {
  content: "\e0a6"
}

.icon-model:before {
  content: "\e0a7"
}

.icon-hourglass:before {
  content: "\e0a8"
}

.icon-plain-grid-layout:before {
  content: "\e0a9"
}

.icon-top-panel-layout:before {
  content: "\e0aa"
}

.icon-2x1-grid-layout:before {
  content: "\e0ab"
}

.icon-1x2-grid-layout:before {
  content: "\e0ac"
}

.icon-side-panel-left-layout:before {
  content: "\e0ad"
}

.icon-2x2-grid-layout:before {
  content: "\e0ae"
}

.icon-inverse-t-layout:before {
  content: "\e0af"
}

.icon-t-layout:before {
  content: "\e0b0"
}

.icon-top-side-panel-layout:before {
  content: "\e0b1"
}

.icon-side-top-panel-layout:before {
  content: "\e0b2"
}

.icon-4x4-grid-layout:before {
  content: "\e0b3"
}

.icon-add-point:before {
  content: "\e0b4"
}

.icon-add-polyline:before {
  content: "\e0b5"
}

.icon-add-polygone:before {
  content: "\e0b6"
}

.icon-email-send-delayed:before {
  content: "\e0b7"
}

.icon-email-not-opened:before {
  content: "\e0b8"
}

.icon-link-not-clicked:before {
  content: "\e0b9"
}

.icon-sms-send-delayed:before {
  content: "\e0ba"
}

.icon-ab-testing:before {
  content: "\e0bb"
}

.icon-tv:before {
  content: "\e0bc"
}

.icon-radio:before {
  content: "\e0bd"
}

.icon-outdoor:before {
  content: "\e0be"
}

.icon-event:before {
  content: "\e0bf"
}

.icon-paid-search:before {
  content: "\e0c0"
}

.icon-display-ads:before {
  content: "\e0c1"
}

.icon-call-center:before {
  content: "\e0c2"
}

.icon-social:before {
  content: "\e0c3"
}

.icon-event2:before {
  content: "\e0c4"
}

.icon-official-service-group:before {
  content: "\e0c5"
}

.icon-time-deposit:before {
  content: "\e0c6"
}

.icon-early-widthdrawal-for-time-deposits:before {
  content: "\e0c7"
}

.icon-aggregated-view:before {
  content: "\e0c8"
}

.icon-detailed-view:before {
  content: "\e0c9"
}

.icon-rescheduling:before {
  content: "\e0ca"
}

.icon-resequencing:before {
  content: "\e0cb"
}

.icon-movement-warning:before {
  content: "\e0cc"
}

.icon-multiple-warnings:before {
  content: "\e0cd"
}

.icon-box-truck:before {
  content: "\e0ce"
}

.icon-box-truck-empty:before {
  content: "\e0cf"
}

.icon-tractor:before {
  content: "\e0d0"
}

.icon-driver:before {
  content: "\e0d1"
}

.icon-driver-warning:before {
  content: "\e0d2"
}

.icon-overlap:before {
  content: "\e0d3"
}

.icon-expand-overlap:before {
  content: "\e0d4"
}

.icon-collapse-overlap:before {
  content: "\e0d5"
}

.icon-utilization:before {
  content: "\e0d6"
}

.icon-expand-utilization:before {
  content: "\e0d7"
}

.icon-collapse-utilization:before {
  content: "\e0d8"
}

.icon-trailer:before {
  content: "\e0d9"
}

.icon-container-closed:before {
  content: "\e0da"
}

.icon-railcar:before {
  content: "\e0db"
}

.icon-warehouse:before {
  content: "\e0dc"
}

.icon-goods:before {
  content: "\e0dd"
}

.icon-ship:before {
  content: "\e0de"
}

.icon-truck-driver:before {
  content: "\e0df"
}

.icon-return-delivery:before {
  content: "\e0e0"
}

.icon-return-order:before {
  content: "\e0e1"
}

.icon-contract:before {
  content: "\e0e2"
}

.icon-business-partner:before {
  content: "\e0e3"
}

.icon-business-partner-verified:before {
  content: "\e0e4"
}

.icon-business-partner-anonymous:before {
  content: "\e0e5"
}

.icon-business-partner-self-identified:before {
  content: "\e0e6"
}

.icon-money-withdrawal:before {
  content: "\e0e7"
}

.icon-truck-load:before {
  content: "\e0e8"
}

.icon-truck-unload:before {
  content: "\e0e9"
}

.icon-truck-load-unload:before {
  content: "\e0ea"
}

.icon-pharmacy:before {
  content: "\e0eb"
}

.icon-medicine-syrup:before {
  content: "\e0ec"
}

.icon-reminder:before {
  content: "\e0ed"
}

.icon-medicine-pill:before {
  content: "\e0ee"
}

.icon-medicine-ointment:before {
  content: "\e0ef"
}

.icon-medicine-drops:before {
  content: "\e0f0"
}

.icon-blood-test:before {
  content: "\e0f1"
}

.icon-temperature:before {
  content: "\e0f2"
}

.icon-medicine-inhaler:before {
  content: "\e0f3"
}

.icon-foot-steps:before {
  content: "\e0f4"
}

.icon-weight:before {
  content: "\e0f5"
}

.icon-health-tracking:before {
  content: "\e0f6"
}

.icon-blood-pressure:before {
  content: "\e0f7"
}

.icon-immunization:before {
  content: "\e0f8"
}

.icon-allergies:before {
  content: "\e0f9"
}

.icon-rescheduling2:before {
  content: "\e0fa"
}

.icon-resequencing2:before {
  content: "\e0fb"
}

.icon-no-time-change:before {
  content: "\e0fc"
}

.icon-time-change:before {
  content: "\e0fd"
}

.icon-smart-matcher:before {
  content: "\e0fe"
}

.icon-3D:before {
  content: "\e0ff"
}

.icon-parallel-sequence:before {
  content: "\e100"
}

.icon-alternative-sequence:before {
  content: "\e101"
}

.icon-main-sequence:before {
  content: "\e102"
}

.icon-refinery:before {
  content: "\e103"
}

.icon-terminal:before {
  content: "\e104"
}

.icon-vessel:before {
  content: "\e105"
}

.icon-barge:before {
  content: "\e106"
}

.icon-road:before {
  content: "\e107"
}

.icon-pipeline:before {
  content: "\e108"
}

.icon-delay:before {
  content: "\e109"
}

.icon-legal-section:before {
  content: "\e10a"
}

.icon-causes:before {
  content: "\e10b"
}

.icon-effects:before {
  content: "\e10c"
}

.icon-shared-by-me:before {
  content: "\e10d"
}

.icon-shared-with-me:before {
  content: "\e10e"
}

.icon-main-milestone:before {
  content: "\e10f"
}

.icon-indicator-groups:before {
  content: "\e110"
}

.icon-alert-groups:before {
  content: "\e111"
}

.icon-function-alert:before {
  content: "\e112"
}

.icon-function-hierarchy:before {
  content: "\e113"
}

.icon-rfid:before {
  content: "\e114"
}

.icon-input:before {
  content: "\e115"
}

.icon-software-item:before {
  content: "\e116"
}

.icon-product-view:before {
  content: "\e117"
}

.icon-software-item-variant:before {
  content: "\e118"
}

.icon-lighthouse:before {
  content: "\e119"
}

.icon-demand-unit:before {
  content: "\e11a"
}

.icon-fma-management:before {
  content: "\e11b"
}

.icon-fma-validation:before {
  content: "\e11c"
}

.icon-fma-analytics:before {
  content: "\e11d"
}

.icon-class:before {
  content: "\e11e"
}

.icon-overview:before {
  content: "\e11f"
}

.icon-production:before {
  content: "\e120"
}

.icon-subclass:before {
  content: "\e121"
}

.icon-variant-configuration:before {
  content: "\e122"
}

.icon-sum:before {
  content: "\e123"
}

.icon-add-outside:before {
  content: "\e124"
}

.icon-compressor:before {
  content: "\e125"
}

.icon-dehydrator:before {
  content: "\e126"
}

.icon-heater-treater:before {
  content: "\e127"
}

.icon-pump:before {
  content: "\e128"
}

.icon-separator:before {
  content: "\e129"
}

.icon-well-completion:before {
  content: "\e12a"
}

.icon-well:before {
  content: "\e12b"
}

.icon-meter-chained:before {
  content: "\e12c"
}

.icon-cluster-chained:before {
  content: "\e12d"
}

.icon-tank-chained:before {
  content: "\e12e"
}

.icon-empty-trailer:before {
  content: "\e12f"
}

.icon-door:before {
  content: "\e130"
}

.icon-loading-point:before {
  content: "\e131"
}

.icon-stock-warehouse:before {
  content: "\e132"
}

.icon-gate:before {
  content: "\e133"
}

.icon-timeseries-waterfall-chart:before {
  content: "\e134"
}

.icon-expand-collapse-level-2:before {
  content: "\e135"
}

.icon-expand-collapse-level-3:before {
  content: "\e136"
}

.icon-recycle:before {
  content: "\e137"
}

.icon-stages-warning:before {
  content: "\e138"
}

.icon-empty-warning:before {
  content: "\e139"
}

.icon-ps-text:before {
  content: "\e140"
}

.icon-activity:before {
  content: "\e141"
}

.icon-activity-element:before {
  content: "\e142"
}

.icon-transformer:before {
  content: "\e143"
}

.icon-generation:before {
  content: "\e144"
}

.icon-consumer:before {
  content: "\e145"
}

.icon-storage:before {
  content: "\e146"
}

.icon-circuit-breaker:before {
  content: "\e147"
}

.icon-grid:before {
  content: "\e148"
}

.icon-applied_filter:before {
  content: "\e149"
}

.icon-thumb-sideway:before {
  content: "\e14a"
}

.icon-thumb-sideway-filled:before {
  content: "\e14b"
}

.icon-thumb-up-filled:before {
  content: "\e14c"
}

.icon-thumb-down-filled:before {
  content: "\e14d"
}

.icon-multi-container:before {
  content: "\e14e"
}

.icon-collaboration-manager:before {
  content: "\e14f"
}

.icon-network-header:before {
  content: "\e150"
}

.icon-late:before {
  content: "\e151"
}

.icon-created:before {
  content: "\e152"
}

.icon-dispatched-deallocate:before {
  content: "\e153"
}

.icon-confirmed:before {
  content: "\e154"
}

.icon-unfirmed:before {
  content: "\e155"
}

.icon-firmed:before {
  content: "\e156"
}

.icon-unsaved-changes:before {
  content: "\e157"
}

.icon-project-definition-2:before {
  content: "\e158"
}

.icon-asterisk:before {
  content: "\e159"
}

.icon-equal:before {
  content: "\e15a"
}

.icon-not-equal:before {
  content: "\e15b"
}

.icon-fixed-cell:before {
  content: "\e15c"
}

.icon-partially-fixed-cell:before {
  content: "\e15d"
}

.icon-stripes-pattern:before {
  content: "\e15e"
}

.icon-feature-dictionary:before {
  content: "\e15f"
}

.icon-variant-planning:before {
  content: "\e160"
}

.icon-requirement-model:before {
  content: "\e161"
}

.icon-bottle:before {
  content: "\e162"
}

.icon-bottle-cap:before {
  content: "\e163"
}

.icon-pallet:before {
  content: "\e164"
}

.icon-foil:before {
  content: "\e165"
}

.icon-tray:before {
  content: "\e166"
}

.icon-unknown-dependency:before {
  content: "\e167"
}

.icon-layer:before {
  content: "\e168"
}

.icon-move-folder:before {
  content: "\e169"
}

.icon-remove-folder:before {
  content: "\e16a"
}

.icon-match-case:before {
  content: "\e16b"
}

.icon-match-whole-word:before {
  content: "\e16c"
}

.icon-remove-total:before {
  content: "\e16d"
}

.icon-after-total:before {
  content: "\e16e"
}

.icon-before-total:before {
  content: "\e16f"
}

.icon-workbook-filter:before {
  content: "\e170"
}

.icon-update-filter:before {
  content: "\e171"
}

.icon-cell-lock:before {
  content: "\e172"
}

.icon-monitor-assembly-sequence:before {
  content: "\e173"
}

.icon-monitor-just-in-time-calls:before {
  content: "\e174"
}

.icon-manage-charging-stations:before {
  content: "\e175"
}

.icon-district-heating:before {
  content: "\e176"
}

.icon-producer-switch:before {
  content: "\e177"
}

.icon-consumer-switch:before {
  content: "\e178"
}

.icon-storage-switch:before {
  content: "\e179"
}

.icon-repeatable:before {
  content: "\e17a"
}

.icon-max-container:before {
  content: "\e17b"
}

.icon-max-interval:before {
  content: "\e17c"
}

.icon-min-interval:before {
  content: "\e17d"
}

.icon-cross-order:before {
  content: "\e17e"
}

.icon-empty-order:before {
  content: "\e17f"
}

.icon-cross-sequence:before {
  content: "\e180"
}

.icon-empty-sequence:before {
  content: "\e181"
}

.icon-cross-union:before {
  content: "\e182"
}

.icon-empty-union:before {
  content: "\e183"
}

.icon-cross-target:before {
  content: "\e184"
}

.icon-non-stackable:before {
  content: "\e185"
}

.icon-back-to-search:before {
  content: "\e186"
}

.icon-business-objects-folder:before {
  content: "\e187"
}