.chkApp .filterCard,
.chkApp .smartFilterGlass,
.chkApp .filterCard .sapUiCompFilterBarToolbar,
.chkApp .filterCard .sapUiCompSmartFilterBar .sapMTB,
.chkApp .smartFilterGlass .sapUiCompFilterBarToolbar,
.chkApp .smartFilterGlass .sapUiCompSmartFilterBar .sapMTB {
  overflow: visible !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
}
